<a href="https://colab.research.google.com/github/RISHOBGHOSH/Practice_python/blob/main/class_object.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#class
class Car:
    color = ['blue','red']

#object
c1 = Car()
print(c1.color[0])

blue

In [ ]:
class Student:
  name = "karan"
  def __init__():
    print("ading new student in database")

s1 = Student()

TypeError: Student.__init__() takes 0 positional arguments but 1 was given

In [ ]:
class Student:
  def __init__(self):
    print(self)
    print("ading new student in database")

s1 = Student()

<__main__.Student object at 0x7a45fadfbce0>
ading new student in database

In [ ]:
class Student:
  def __init__(self,fullname):
    print("ading new student in database")
    self.name = fullname

s1 = Student("Karan")
print(s1.name)

s2 = Student("Ram")
print(s2.name)

ading new student in database
Karan
ading new student in database
Ram

In [ ]:
from os import name
class Student:
  def __init__(self,name,marks):
    print("ading new student in database")
    self.name = name
    self.marks = marks

s1 = Student("Karan",98)
print(s1.name,s1.marks)

s2 = Student("Ram",56)
print(s2.name , s2.marks)

ading new student in database
Karan 98
ading new student in database
Ram 56

In [ ]:
class Car:
  def __init__(self,color,brand):
    self.color = color
    self.brand = brand

c1 = Car("blue","BMW")
print(c1.color)
print(c1.brand)

blue
BMW

In [ ]:
class Student:

  #default constructors
  def __init__(self):
    pass

  #parameterized constructors
  def __init__(self,name,marks):
    print("ading new student in database")
    self.name = name
    self.marks = marks

s1 = Student("Karan",98)
print(s1.name,s1.marks)

s2 = Student("Ram",56)
print(s2.name , s2.marks)

ading new student in database
Karan 98
ading new student in database
Ram 56

In [ ]:
from os import name
class Student:
  college_name = "ABC college"
  def __init__(self,name,marks):
    print("ading new student in database")
    self.name = name
    self.marks = marks

s1 = Student("Karan",98)
print(s1.name,s1.marks)

s2 = Student("Ram",56)
print(s2.name , s2.marks)

print(s1.college_name)
#or
print(Student.college_name)

ading new student in database
Karan 98
ading new student in database
Ram 56
ABC college
ABC college

In [ ]:
class Student:
  college_name = "ABC college"
  name = "anonymous" #class attr
  def __init__(self,name,marks):
    print("ading new student in database")
    self.name = name # obj attr > class attr
    self.marks = marks

s1 = Student("Karan",98)
print(s1.name)

ading new student in database
Karan

In [ ]:
#Method

class Student:
  def __init__(self,name,marks):
    self.name = name
    self.marks = marks

  def welcome(self):
    print("welcome student",self.name)

  def get_marks(self):
    print("marks of",self.name,"is",self.marks)

  def markss(self):
    return self.marks

s1 = Student("Karan",98)
s1.welcome()
s1.get_marks()
print(s1.markss())

welcome student Karan
marks of Karan is 98
98

In [ ]:
#practice 1

class Student:
  def __init__(self,name,phy_marks,chem_marks,maths_marks):
    self.name = name
    self.phy_marks = phy_marks
    self.chem_marks = chem_marks
    self.maths_marks = maths_marks

  def average_marks(self):
      avge_marks = (self.phy_marks + self.chem_marks + self.maths_marks)/3
      return avge_marks

s1 = Student("Karan",70,80,90)
print(s1.average_marks())

80.0

In [ ]:
#practice 1 - solution appna college

class Student:
  def __init__(self,name,marks):
    self.name = name
    self.marks = marks

  def get_avg(self):
      sum = 0
      for val in self.marks:
        sum += val # sum = sum + val
      print("Hi",self.name,"your average marks is",sum/3)

s1 = Student("Karan",[70,80,90])
s1.get_avg()

s1.name = "Ram"
s1.get_avg()

Hi Karan your average marks is 80.0
Hi Ram your average marks is 80.0

In [ ]:
#static methods
#practice 1 - solution appna college

class Student:
  def __init__(self,name,marks):
    self.name = name
    self.marks = marks

  def hello(self):
    print("hello",self.name)

  @staticmethod
  def welcome():
    print("welcome")

  def get_avg(self):
      sum = 0
      for val in self.marks:
        sum += val # sum = sum + val
      print("Hi",self.name,"your average marks is",sum/3)

s1 = Student("Karan",[70,80,90])
s1.get_avg()
s1.hello()
s1.welcome()

Hi Karan your average marks is 80.0
hello Karan
welcome

In [ ]:
# Abstraction

In [ ]:
class Car:
  def __init__(self):
    self.acc = False
    self.brk = False
    self.cluth = False

  def car_start(self):
    self.cluth = True
    self.acc = True
    print("car started..")

car1 = Car()
car1.car_start()

car started..

In [ ]:
#pratice 2

class Account:
  def __init__(self,acc,bal):
    self.account_no = acc
    self.balance = bal

  def debit(self,amount):
    self.balance -= amount
    print("Rs.",amount,"was debited")
    print("total balance = ",self.get_balance())


  def credit(self,amount):
    self.balance += amount
    print("Rs.",amount,"was credited")
    print("total balance = ",self.get_balance())

  def get_balance(self):
   return self.balance


acc1 = Account(12345,10000)
acc1.debit(1000)
acc1.credit(5000)

Rs. 1000 was debited
total balance =  9000
Rs. 5000 was credited
total balance =  14000

In [ ]:
#DEL Keyword

In [ ]:
class Student:
  def __init__(self,name):
    self.name = name

s1 = Student("rishob")

del s1
print(s1)

NameError: name 's1' is not defined

In [ ]:
class Student:
  def __init__(self,name):
    self.name = name

s1 = Student("rishob")
print(s1)
print(s1.name)

del s1.name
print(s1.name)

<__main__.Student object at 0x795c190addc0>
rishob

AttributeError: 'Student' object has no attribute 'name'

In [ ]:
class Student:
  def __init__(self,name):
    self.name = name

s1 = Student("rishob")
print(s1.name). #public can be used outside the class

rishob

In [ ]:
class Account:
  def __init__(self,acc_no,acc_pass):
    self.acc_no = acc_no
    self.__acc_pass = acc_pass #private

acc1 = Account("12345","abcd")

print(acc1.acc_no)
print(acc1.acc_pass)

12345

AttributeError: 'Account' object has no attribute 'acc_pass'

In [ ]:
class Account:
  def __init__(self,acc_no,acc_pass):
    self.acc_no = acc_no
    self.__acc_pass = acc_pass #private

  def reset_pass(self):
    print(self.__acc_pass)

acc1 = Account("12345","abcd")

print(acc1.acc_no)
print(acc1.reset_pass())

12345
abcd
None

In [ ]:
class Person:
  __name = "anonymous" #private

  def __hello(self,name):
    print("hello person!") #private


p1 = Person()
#print(p1.__name)

print(p1.__hello())

AttributeError: 'Person' object has no attribute '__hello'

In [ ]:
class Person:
    # def __init__(self):
    #self.__name = "anonymous"
  __name = "anonymous" #private

  def __hello(self):
    print("hello!",self.__name) #private

  def welcome(self):
    (self.__hello())
    #print(self.__hello())
    #return(self.__hello())



p1 = Person()
#print(p1.__name)

print(p1.welcome())

hello! anonymous
None

In [ ]:
#Inheritance

In [ ]:
# single - level inheritance

In [ ]:
class Car:
  color = "White"
  @staticmethod
  def start():
    print("car started..")

  @staticmethod
  def stop():
    print("car stopped..")

class ToyataCar(Car):
  def __init__(self,name):
    self.name = name

car1 = ToyataCar("corolla")
car2 = ToyataCar("camry")

print(car1.name)
print(car1.start())
print(car1.color)

corolla
car started..
None
White

In [ ]:
#multi-level Inheritance

class Car:
  color = "White"
  @staticmethod
  def start():
    print("car started..")

  @staticmethod
  def stop():
    print("car stopped..")

class ToyataCar(Car):
  def __init__(self,brand):
    self.brand = brand

class Fortuner(ToyataCar):
  def __init__(self,type):
    self.type = type


car1 = Fortuner("Petrol")
car1.start()
print(car1.type)

car started..
Petrol

In [ ]:
# Multiple inheritance

class A:
  varA = "welcome to clas A"

class B:
  varB = "welcome to clas A"

class C(A,B):
  varC = "welcome to clas C"

c1 = C()
print(c1.varC)
print(c1.varB)
print(c1.varA)

welcome to clas C
welcome to clas A
welcome to clas A

In [ ]:
#Super method
class Car:

  def __init__(self,type):
    self.type = type

  @staticmethod
  def start():
    print("car started..")

  @staticmethod
  def stop():
    print("car stopped..")


class ToyotaCar(Car):
  def __init__(self,name,type):
    super().__init__(type)
    self.name = name
    super().start()



car1 = ToyotaCar("prius","electric")
print(car1.type)

car started..
electric

In [ ]:
# class Method - @classmethod

class Person:
  name = "anonymous"

  def changeName(self,name):
    self.name = name



p1 = Person()
p1.changeName("rishob ghosh")
print(p1.name)

print(Person.name)


class Person1:
  name1 = "anonymous"

  @classmethod # class method
  def changeName(self,name1):
    self.name1 = name1


p1 = Person1()
p1.changeName("rishob ghosh")
print(p1.name1)

print(Person1.name1)

rishob ghosh
anonymous
rishob ghosh
rishob ghosh

In [ ]:
class Person:
  name = "anonymous"

  #def changeName(self,name):
    #Person.name = name
    #self.__class__.name = "Rahul"

  @classmethod
  def changeName(cls,name):
    cls.name = name


p1 = Person()
p1.changeName("rishob ghosh")
print(p1.name)

print(Person.name)

rishob ghosh
rishob ghosh

In [ ]:
class Student:
  def __init__(self,phy,chem,math):
    self.phy = phy
    self.chem = chem
    self.math = math
    self.percetage = str((self.phy + self.chem + self.math) /3) + "%"


s1 = Student(56,45,78)
print(s1.percetage)

59.666666666666664%

In [ ]:
class Student:

  def __init__(self,phy,chem,math):
    self.phy = phy
    self.chem = chem
    self.math = math
    self.percetage = str((self.phy + self.chem + self.math) /3) + "%"


  def get_cal(self):
    self.percetage = str((self.phy + self.chem + self.math) /3) + "%"
    return self.percetage


s1 = Student(56,45,78)
print(s1.percetage)

s1.phy = 88
print(s1.phy)
# print(s1.percetage) # no change so
print(s1.get_cal())

59.666666666666664%
88
70.33333333333333%

In [ ]:
#Property


class Student:

  def __init__(self,phy,chem,math):
    self.phy = phy
    self.chem = chem
    self.math = math
    # self.percetage = str((self.phy + self.chem + self.math) /3) + "%"


  # def get_cal(self):
  #   self.percetage = str((self.phy + self.chem + self.math) /3) + "%"
  #   return self.percetage

  @property
  def percetage(self):
    return str((self.phy + self.chem + self.math) /3) + "%"

s1 = Student(56,45,78)
print(s1.percetage)

s1.phy = 88
print(s1.phy)
print(s1.percetage) # now it changes takes a latest values

59.666666666666664%
88
70.33333333333333%

In [ ]:
# Polymorphism

print(1+2) #3
print(type(1)) #class int

print("apna" + "dost") #concatenate
print(type("apna")) #class str

print([1,2,3]+[4,5,6]) #merge
print(type([1,2,3])) #class list

3
<class 'int'>
apnadost
<class 'str'>
[1, 2, 3, 4, 5, 6]
<class 'list'>

In [ ]:
class Complex:
  def __init__(self,real,img):
    self.real = real
    self.img = img

  def show_no(self):
    a = print(self.real,"i +",self.img,"j")
    return a

  def add(self,other):
    newReal = self.real + other.real
    newImg = self.img + other.img
    # return print(newReal,"i +",newImg,"j")
    return Complex(newReal,newImg)


  # def __sub__(self,other):
  #   a = self.real - other.real
  #   b = self.img - other.img
  #   return print(a,"i -",b,"j")



n1 = Complex(1,3)
n1.show_no()
# print(n1.show_no())

n2 = Complex(3,6)
n2.show_no()

n3.show_no()

n3 = n1 + n2 # to create this logic we need Dunner func __add__

1 i + 3 j
3 i + 6 j
4 i + 9 j

TypeError: unsupported operand type(s) for +: 'Complex' and 'Complex'

In [ ]:
class Complex:
  def __init__(self,real,img):  #__init__ is a dunder function
    self.real = real
    self.img = img

  def show_no(self):
    if self.img < 0:
      a = print(self.real,"i -",abs(self.img),"j")
    else:
      a = print(self.real,"i +",self.img,"j")
      return a

  def __add__(self,other):
    newReal = self.real + other.real
    newImg = self.img + other.img
    # return print(newReal,"i +",newImg,"j")
    return Complex(newReal,newImg)


  def __sub__(self,other):
    newReal = self.real - other.real
    newImg = self.img - other.img
    return Complex(newReal,newImg)



n1 = Complex(1,3)
n1.show_no()
# print(n1.show_no())

n2 = Complex(3,6)
n2.show_no()


n3 = n1 + n2
n3.show_no()

n4  = n1 - n2
n4.show_no()

1 i + 3 j
3 i + 6 j
4 i + 9 j
-2 i - 3 j

In [ ]:
#Problem

class Circle:
  def __init__(self,r):
    self.r = r

  def area(self):
    a = (22/7) * self.r * self.r
    return a

  def perimeter(self):
    p = 2 * (22/7) * self.r
    return p


c1 = Circle(49)
print(c1.area())
print(c1.perimeter())

7546.0
308.0

In [ ]:
# Problem

class Employee:
  def __init__(self,role,dept,salary):
    self.role = role
    self.dept = dept
    self.salary = salary

  def showDetails(self):
    a = print("Employee Details :",self.role,self.dept,self.salary)
    return a

class Engineer(Employee):
  def __init__(self,name,age):
    super().__init__("Engineer","IT","75000")
    self.name = name
    self.age = age

  def showDetails(self):
    a = print("Engineer Details :",self.name,self.age,self.role,self.dept,self.salary)
    return a

e1 = Employee("Manager","HR",50000)
e1.showDetails()

eng1 = Engineer("Rahul",25)
eng1.showDetails()

Employee Details : Manager HR 50000
Engineer Details : Rahul 25 Engineer IT 75000

In [ ]:
#Problem
class Order:
  def __init__(self,item,price):
    self.item = item
    self.price = price

  def __gt__(self,other):
    return self.price > other.price

p1 = Order("chips",2500)
p2 = Order("ration",3500)

print(p1 > p2)

print(p2 > p1)

False
True

In [ ]:
#Problem 1

class Vehicle:

      def __init__(self, name, max_speed, mileage):
            self.name = name
            self.max_speed = max_speed
            self.mileage = mileage

class Bus(Vehicle):
     pass

v1 = Vehicle("School Volvo","180","12")
print("Vehicle Name: ",v1.name, "Speed: ",v1.max_speed,"Mileage: ",v1.mileage)


#problem case 2

class Vehicle:
  def __init__(self, name, max_speed, mileage):
    self.name = name
    self.max_speed = max_speed
    self.mileage = mileage



class Bus(Vehicle):
    pass

    def show(self):
      a = print("Vehicle Name: ",self.name, " Speed: ",self.max_speed," Mileage: ",self.mileage)
      return a



v1 = Bus("School Volvo","180","12")
print(v1.show())

Vehicle Name:  School Volvo Speed:  180 Mileage:  12