<a href="https://colab.research.google.com/github/RISHOBGHOSH/Practice_python/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def add(a,b):
  s = a + b
  return s

print(add(3,4))

7

In [ ]:
num = [1,2,4,5,2,3]
# print(len(num))


def pr_len(list):
  return print(len(list))

pr_len(num)

6

In [ ]:
x = [4, 6, 8, 24, 12, 2]

print(max(x))

RecursionError: maximum recursion depth exceeded

In [ ]:
x = [4, 6, 8, 24, 12, 2]

def max_no(data_list):
  # Use the built-in max function explicitly to avoid shadowing issues
  return __builtins__.max(data_list)

print(max_no(x))

24

In [ ]:
def factorial_recursive(n):
    if n < 0:
        raise ValueError("Factorial is not defined for negative numbers")
    elif n == 0:
        return 1  # Base case: factorial of 0 is 1
    else:
        return n * factorial_recursive(n - 1)  # Recursive step

# Example usage:
number = 5
result = factorial_recursive(number)
print(f"The factorial of {number} is {result}")
# Output: The factorial of 5 is 120

The factorial of 5 is 120

In [ ]:
x = [4, 6, 8, 24, 12, 2]

def pr_list(list):
  for item in list:
    print(item, end = " ")

pr_list(x)

4 6 8 24 12 2

In [ ]:
# loops - while loop


c = 1 # interator
while c <=5:  # iteration
  print("hello")
  c = c + 1
  #c += 1


print(c)


i = 1
while i <= 10:
  print("RG",i)
  i += 1

hello
hello
hello
hello
hello
6
RG 1
RG 2
RG 3
RG 4
RG 5
RG 6
RG 7
RG 8
RG 9
RG 10

In [ ]:
i = 5
while i >= 1:
  print(i , end=' ')
  i -=1

5 4 3 2 1

In [ ]:
i = 100
while i >= 1:
  print(i , end=' ')
  i -=1

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
a = int(input("enter number: "))
n = 1
while n <=10:
  x = a*n
  print(x , end= ' ')
  n +=1

enter number: 2
2 4 6 8 10 12 14 16 18 20

In [ ]:
nums = [1,4,16,25,36,49,64,81,100]

# for i in nums:
#   print(i)

#traverse
idx = 0
while idx < len(nums):
  print(nums[idx])
  idx += 1

1
4
16
25
36
49
64
81
100

In [ ]:
nums = (1,4,16,25,36,49,64,81,100)

x = 16
i = 0
while i < len(nums):
  if (nums[i] == x):
      print("FOUND at indx ",i)
  i += 1

FOUND at indx  2

In [ ]:
nums = (1,4,16,25,36,49,64,81,100,16)

x = 16
i = 0
while i < len(nums):
  if (nums[i] == x):
      print("FOUND at indx ",i)
      #break
  i += 1

print('end of loop')

FOUND at indx  2
FOUND at indx  9
end of loop

In [ ]:
nums = (1,4,16,25,36,49,64,81,100,16)

x = 16
i = 0
while i < len(nums):
  if (nums[i] == x):
      print("FOUND at indx",i)
      break
  i += 1

print('end of loop')

FOUND at indx 2
end of loop

In [ ]:
i = 0
while i <= 5:
  if (i == 3):
      i +=1
      continue # while continue is executed below statement will not execute
  print(i)
  i +=1

0
1
2
4
5

In [ ]:
i = 0
while i <= 10:
  if (i%2 == 0):
      i +=1
      continue # skip # while continue is executed below statement will not execute
      # terminates excution in the iteration & continue execution of the loop with the next iteration
  print(i)
  i +=1

1
3
5
7
9

In [ ]:
# for loops - loops are used for sequential traversal , for traversing list,string , tuples etc

nums = (1,4,16,25,36,49,64,81,100,16)

for i in nums:
  print(i)

str = "rishobghosh"

for i in str:
  print(i)
else:
  print("END")

1
4
16
25
36
49
64
81
100
16
r
i
s
h
o
b
g
h
o
s
h
END

In [ ]:
str = 'romitghosh'


for idx,i in enumerate(str):
  if (i == 'o'):
    print("o Found at idx",idx)
    # break
  else:
    print("NOT FOUND")

NOT FOUND
o Found at idx 1
NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND
o Found at idx 7
NOT FOUND
NOT FOUND

In [ ]:
str = 'romitghosh'

idx = 0
for i in str:
    if (i == 'o'):
      print("o Found at idx",idx)
      # break
    idx += 1
else:
    print("NOT FOUND")

o Found at idx 1
o Found at idx 7
NOT FOUND

In [ ]:
str = 'romitghosh'

for chr in str:
    if (chr == 'g'):
        print("m Found")
        #break
    print(chr)
else:
    print("End")

r
o
m
i
t
m Found
g
h
o
s
h
End

In [ ]:
str = 'romitghosh'

for chr in str:
    if (chr == 'g'):
        print("m Found")
        break
    print(chr)
else:
    print("End")

r
o
m
i
t
m Found

In [ ]:
str = 'romitghosh'

for chr in str:
    if (chr == 'g'):
        print("m Found")
        break
    print(chr)

print("End")

r
o
m
i
t
m Found
End

In [ ]:
nums = [1,4,9,16,25,36,49,64,81,100]

for i in nums:
  print(i)

1
4
9
16
25
36
49
64
81
100

In [ ]:
# my solution

nums = (1,4,9,16,25,36,49,64,81,100)

x = int(input('Enter a number: '))
for idx,i in enumerate(nums):
  if (i == x):
    print('Found',i ,"at idx",idx)
    break
else:
    print('Not Found')

Enter a number: 36
Found 36 at idx 5

In [ ]:
nums = (1,4,9,16,25,36,49,64,81,100,49)

x = 49

idx = 0

for i in nums:
  if (i == x):
    print(x,"found in idx",idx)
    # break - if want to get 1st time 49
  idx += 1
else:
    print('End of tuple')

49 found in idx 6
49 found in idx 10
End of tuple

In [ ]:
# range - this function return from 0 by default
# and increments by 1 (by default) and stops before a specified number

for i in range(5): #
  print(i,end=' ')
print()

for i in range(1,5): #
  print(i,end=' ')
print()

for i in range(1,5,2): #
  print(i,end=' ')

0 1 2 3 4
1 2 3 4
1 3

In [ ]:
for i in range(1,101):
  print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
for i in range(100,0,-1):
  print(i,end=' ')

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
n = int(input("Enter the num"))


for i in range(1,11):
  x = n * i
  print(x, end=' ')

Enter the num2
2 4 6 8 10 12 14 16 18 20

In [ ]:
#pass - is a Null statement that does nothing , It is used as a plcasholder for future code


for i in range(5):
  pass

print("some work")


if i >5:
  pass

print("another work")

some work
another work

In [ ]:
n = int(input("Enter the num "))

sum = 0
for i in range(1,n+1):
  print(i, end = ' ')
  #sum = sum + i
  sum += i

print('\n',"Total_sum = ",sum)

Enter the num 10
1 2 3 4 5 6 7 8 9 10
 Total_sum =  55

In [ ]:
n = 3

i = 1
sum = 0
# while i <= len(range(1,n+1)):
while i <= n:
  print(i, end = ' ')
  #sum = sum + i
  sum += i
  i += 1

print('\n',"Total_sum = ",sum)
print(range(1,n+1))
print(len(range(1,n+1)))

1 2 3
 Total_sum =  6
range(1, 4)
3

In [ ]:
# factorial

# 3! = 1*2*3

f = int(input("Enter the factorial "))
m = 1
for i in range(1,f+1):
  print(i,end =' ')
  # m = m * i
  m *= i


print('\n', 'factorial of' ,f ,'=' ,m)

Enter the factorial 3
1 2 3
 factorial of 3 = 6

In [ ]:
f = int(input("Enter the factorial "))
m = 1
i = 1
while i <= f:
    print(i,end =' ')
    m *= i
    # m = m * i
    i += 1
    # i = i + 1

print('\n','factorial of' ,f ,'=' ,m)

Enter the factorial 3
1 2 3
 factorial of 3 = 6